<div class="container">
  <div class="title-container">
    <h1>Check Your Kodam</h1>
  </div>

  <!-- Video for camera streaming -->
  <div *ngIf="!showResult" class="scan-container">
    <div id="cameraContainer">
      <video #videoElement id="video" autoplay playsinline></video>
    </div>
    <div class="scan-count">
      <h2 *ngIf="scanCountdown > 0">Checking in <span>{{ scanCountdown }}</span> seconds...</h2>
    </div>
  </div>

  <!-- Result page with twibbon -->
  <div *ngIf="showResult" id="resultPage" class="center show">
      <h2>Your Kodam is: <span>{{ kodamResult }}</span></h2>
      <div class="twibbon">
          <img [src]="faceImageSrc" alt="Your Face" class="scale-in" />
          <div class="twibbon-frame"></div>
      </div>
      <h3 *ngIf="kodamCountdown > 0">Starting scan again in <span>{{ kodamCountdown }}</span> seconds.</h3>
  </div>
</div>
